openapi: 3.2.0
info:
  title: Argus Enterprise Core Valuations API
  description: Core REST API for the ARGUS Enterprise platform by Altus Group, providing programmatic access to commercial real estate investment management capabilities including property data, portfolio management, cash flow projections, valuations, tenants, leases, and reporting. ARGUS Enterprise is an industry-standard platform for commercial real estate valuation and asset management used by investors, appraisers, and portfolio managers.
  version: '1.0'
  contact:
    name: Argus API Support
    email: api-support@argusenterprise.com
    url: https://support.argusenterprise.com
  termsOfService: https://www.altusgroup.com/terms-of-use
servers:
- url: https://api.argusenterprise.com/v1
  description: Argus Enterprise Production
security:
- bearerAuth: []
tags:
- name: Valuations
  description: Property valuations and appraisal data
paths:
  /properties/{propertyId}/valuations:
    get:
      operationId: listPropertyValuations
      summary: Argus Enterprise List Property Valuations
      description: Retrieve all valuations associated with a specific property, including DCF analysis results, capitalization rates, and market value estimates.
      tags:
      - Valuations
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: Valuations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValuationList'
        '404':
          description: Property not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createPropertyValuation
      summary: Argus Enterprise Create a Property Valuation
      description: Create a new valuation for a property using DCF analysis, direct capitalization, or comparable sales methodology.
      tags:
      - Valuations
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValuationInput'
      responses:
        '201':
          description: Valuation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Valuation'
        '400':
          description: Invalid valuation data
        '404':
          description: Property not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /valuations:
    get:
      operationId: listValuations
      summary: Argus Enterprise List All Valuations
      description: Retrieve a paginated list of all valuations across properties, with optional filtering by valuation date range and methodology.
      tags:
      - Valuations
      parameters:
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      - name: methodology
        in: query
        description: Filter by valuation methodology
        schema:
          type: string
          enum:
          - DCF
          - DirectCapitalization
          - ComparableSales
      - name: valuationDateFrom
        in: query
        description: Filter valuations from this date
        schema:
          type: string
          format: date
      - name: valuationDateTo
        in: query
        description: Filter valuations up to this date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Valuations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValuationList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Valuation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique valuation identifier
        propertyId:
          type: string
          format: uuid
          description: Associated property identifier
        valuationDate:
          type: string
          format: date
          description: Date of valuation
        methodology:
          type: string
          enum:
          - DCF
          - DirectCapitalization
          - ComparableSales
          description: Valuation methodology used
        marketValue:
          type: number
          format: double
          description: Estimated market value
        capRate:
          type: number
          format: double
          description: Capitalization rate (percentage)
        discountRate:
          type: number
          format: double
          description: Discount rate used in DCF analysis (percentage)
        terminalCapRate:
          type: number
          format: double
          description: Terminal capitalization rate for DCF analysis (percentage)
        analysisStartDate:
          type: string
          format: date
          description: Start date of the analysis period
        analysisEndDate:
          type: string
          format: date
          description: End date of the analysis period
        netOperatingIncome:
          type: number
          format: double
          description: Stabilized net operating income
        netPresentValue:
          type: number
          format: double
          description: Net present value from DCF analysis
        internalRateOfReturn:
          type: number
          format: double
          description: Internal rate of return (percentage)
        currency:
          type: string
          description: Currency code (ISO 4217)
        notes:
          type: string
          description: Additional notes or assumptions
        createdBy:
          type: string
          description: Username of the creator
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ValuationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Valuation'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Number of items per page
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages
    ValuationInput:
      type: object
      required:
      - valuationDate
      - methodology
      properties:
        valuationDate:
          type: string
          format: date
        methodology:
          type: string
          enum:
          - DCF
          - DirectCapitalization
          - ComparableSales
        marketValue:
          type: number
          format: double
        capRate:
          type: number
          format: double
        discountRate:
          type: number
          format: double
        terminalCapRate:
          type: number
          format: double
        analysisStartDate:
          type: string
          format: date
        analysisEndDate:
          type: string
          format: date
        netOperatingIncome:
          type: number
          format: double
        currency:
          type: string
          default: USD
        notes:
          type: string
  parameters:
    pageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
    propertyId:
      name: propertyId
      in: path
      required: true
      description: Unique identifier of the property
      schema:
        type: string
        format: uuid
    pageSizeParam:
      name: pageSize
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/token endpoint using client credentials.
externalDocs:
  description: Argus Enterprise API Documentation
  url: https://docs.argusenterprise.com/api/v1
