openapi: 3.2.0
info:
  title: Argus Enterprise Webhook Health API
  description: Webhook service for the ARGUS Enterprise platform by Altus Group, enabling real-time event notifications for property changes, valuation updates, lease events, portfolio modifications, and report completions. Integrators can subscribe to specific event types and receive HTTP POST callbacks when events occur in the system.
  version: '1.0'
  contact:
    name: Argus API Support
    email: api-support@argusenterprise.com
    url: https://support.argusenterprise.com
  termsOfService: https://www.altusgroup.com/terms-of-use
servers:
- url: https://webhooks.argusenterprise.com/v1
  description: Argus Enterprise Webhooks Production
security:
- bearerAuth: []
tags:
- name: Health
  description: Webhook service health and status
paths:
  /health:
    get:
      operationId: getWebhookHealth
      summary: Argus Enterprise Get Service Health
      description: Check the health status of the webhook service, including delivery queue depth and recent error rates.
      tags:
      - Health
      responses:
        '200':
          description: Service health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
      security: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - Healthy
          - Degraded
          - Unhealthy
          description: Overall service health
        queueDepth:
          type: integer
          description: Number of events pending delivery
        recentErrorRate:
          type: number
          format: double
          description: Error rate over the last hour (percentage)
        uptime:
          type: string
          description: Service uptime duration
        lastChecked:
          type: string
          format: date-time
          description: Timestamp of last health check
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the Argus Enterprise Core API authentication endpoint.
externalDocs:
  description: Argus Enterprise Webhook Documentation
  url: https://docs.argusenterprise.com/webhooks
