openapi: 3.2.0
info:
  title: Argus Enterprise Core Tenants API
  description: Core REST API for the ARGUS Enterprise platform by Altus Group, providing programmatic access to commercial real estate investment management capabilities including property data, portfolio management, cash flow projections, valuations, tenants, leases, and reporting. ARGUS Enterprise is an industry-standard platform for commercial real estate valuation and asset management used by investors, appraisers, and portfolio managers.
  version: '1.0'
  contact:
    name: Argus API Support
    email: api-support@argusenterprise.com
    url: https://support.argusenterprise.com
  termsOfService: https://www.altusgroup.com/terms-of-use
servers:
- url: https://api.argusenterprise.com/v1
  description: Argus Enterprise Production
security:
- bearerAuth: []
tags:
- name: Tenants
  description: Tenant records and contact information
paths:
  /tenants:
    get:
      operationId: listTenants
      summary: Argus Enterprise List Tenants
      description: Retrieve a paginated list of tenants across all properties accessible to the authenticated user.
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      - name: search
        in: query
        description: Search tenants by name
        schema:
          type: string
      responses:
        '200':
          description: Tenants retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createTenant
      summary: Argus Enterprise Create a Tenant
      description: Create a new tenant record.
      tags:
      - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantInput'
      responses:
        '201':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          description: Invalid tenant data
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tenants/{tenantId}:
    get:
      operationId: getTenant
      summary: Argus Enterprise Get a Tenant
      description: Retrieve detailed information about a specific tenant.
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/tenantId'
      responses:
        '200':
          description: Tenant retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '404':
          description: Tenant not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateTenant
      summary: Argus Enterprise Update a Tenant
      description: Update an existing tenant record.
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/tenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantInput'
      responses:
        '200':
          description: Tenant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          description: Invalid tenant data
        '404':
          description: Tenant not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State or province
        postalCode:
          type: string
          description: Postal or ZIP code
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
    TenantInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        industry:
          type: string
        creditRating:
          type: string
        contactName:
          type: string
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Number of items per page
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages
    TenantList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique tenant identifier
        name:
          type: string
          description: Tenant company or individual name
        industry:
          type: string
          description: Tenant industry classification
        creditRating:
          type: string
          description: Tenant credit rating
        contactName:
          type: string
          description: Primary contact name
        contactEmail:
          type: string
          format: email
          description: Primary contact email
        contactPhone:
          type: string
          description: Primary contact phone
        address:
          $ref: '#/components/schemas/Address'
        activeLeases:
          type: integer
          description: Number of active leases
        totalLeasedArea:
          type: number
          format: double
          description: Total leased area across all properties
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  parameters:
    pageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
    tenantId:
      name: tenantId
      in: path
      required: true
      description: Unique identifier of the tenant
      schema:
        type: string
        format: uuid
    pageSizeParam:
      name: pageSize
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/token endpoint using client credentials.
externalDocs:
  description: Argus Enterprise API Documentation
  url: https://docs.argusenterprise.com/api/v1
